<div class="row banner">
</div>
<div class="row">
<div class="col-sm-12 text-center"><h3>Our offering to you</h3></div>
    <div class="col-sm-3 text-center usp">
        <span class="glyphicon glyphicon-home circle"></span>
        <h4 class="usp-title"><strong>Specialized in Real Estate</strong></h2>
        <p class="usp-text">We will work through the process to identify your needs, goals and strategy, and put your plan into action</p>
    </div>
    <div class="col-sm-3 text-center usp">
        <span class="glyphicon glyphicon-tower circle"></span>
        <h4 class="usp-title"><strong>Strategic with your Interests</strong></h2>
        <p class="usp-text">We will work through the process to identify your needs, goals and strategy, and put your plan into action</p>
    </div>
    <div class="col-sm-3 text-center usp">
        <span class="glyphicon glyphicon-ok circle"></span>
        <h4 class="usp-title"><strong>Certified Lawyers</strong></h2>
        <p class="usp-text">We will work through the process to identify your needs, goals and strategy, and put your plan into action</p>
    </div>
    <div class="col-sm-3 text-center usp">
        <span class="glyphicon glyphicon-globe circle"></span>
        <h4 class="usp-title"><strong>International Support</strong></h2>
        <p class="usp-text">We will work through the process to identify your needs, goals and strategy, and put your plan into action</p>
    </div>
    <div class="row">
        <div class="col-sm-6 bio">
            <div class="bio-wrapper">
                <blockquote class="bio-text">"Abigail Ordonez has worked in Cancun, Playa del Carmen and Riviera Maya Real Estate and Corporate Law since 2000... <a href="/about-us">Read More...</a>"</blockquote>
            </div>
        </div>
        <div class="col-sm-6 bio">

        </div>
    </div>
</div>