<h1>Hello Abigail</h1>

<p>
A new user just registered to rerum, 

His name is <%= @user.name %> <%= @user.last %> and his email is <%= @user.email %>

The client is asking for the following services:

<%= @user.request %>

</p>