.navbar-logo {
	max-width: 80%;
	max-height: 60px;
	margin: auto;
}
.bar-text{
	color:white;
}
.menu {
	height: 300px;
}

.banner {
	padding-left: 10%;
	padding-right: 10%;
	background-image: image-url("banner.jpg");
	background-color: lightblue;
	height: 500px;
	background-size: 100%;
	opacity:100%; 
	padding-top: 30%;
}

.navbar {
	margin:0;
}